*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 800px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  align-items: end;
  inline-size: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px;
  align-items: start;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: fit-content;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  min-inline-size: 225px;
  background: transparent;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  padding: 3px 0;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background: transparent;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  inline-size: 15px;
  block-size: 15px;
  background: #fff;
}

.button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  padding: 6px 73.5px;
  align-self: end;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  min-block-size: 34px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  block-size: 534px;
}

.title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  block-size: 298px;
  overflow-y: auto;
}

.content__list-container::-webkit-scrollbar {
  inline-size: 4px;
}

.content__list-container::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.1);
}

.content__list-container::-webkit-scrollbar-thumb {
  background: #d9d9d9;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 2px;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
  padding: 2px;
  gap: 10px;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
  line-clamp: initial;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}